[submodule "themes/axiom"]
	path = themes/axiom
	url = https://github.com/marketempower/axiom.git
[submodule "public"]
	path = public
	url = https://github.com/2020leon/2020leon.github.io.git
	branch = master
