html {
	scroll-behavior: smooth;
}

.max-w-title-with-toc-below {
    max-width: 42.5rem;
}

@media (min-width: 1024px) {
    .max-w-title-with-toc-below {
        max-width: 50.5rem; /* 42.5(max-w-680) + 8(aside.toc flex) */
    }

    aside.toc {
        flex: 0 0 8rem;
        position: sticky;
        top: 1rem;
        display: block;
        align-self: start;
    }
    
    nav#TableOfContents {
        margin-top: 2rem;
        border-left: 1px solid #edf2f7;
    }

    nav#TableOfContents ul {
        padding-left: .5rem;
    }

    nav#TableOfContents li.active > a {
        color: rgba(0, 0, 0, .84);
        font-weight: 500;
    }

    nav#TableOfContents a {
        margin: .25rem 0;
        padding: .25rem 0 .25rem .5rem;
        display: block;
        color: darkgray;
        transition: all 100ms ease-in-out;
    }

    nav#TableOfContents a:hover {
        border-radius: .125rem;
        background-color: #e6e6e6;
    }

    aside.tags {
        flex: 0 0 10rem;
        top: 1rem;
        display: block;
        align-self: start;
    }
}