{{ define "main" }}
<div class="default-single">
  <div class="ax-content ax-l-o">
    <div class="ax-l-i{{ printf " %s" (.Params.maxWidthContent | default "max-w-680") }}">
      <h1 class="page-title font-content-title font-normal leading-tight tracking-default text-40">找不到頁面</h1>
      <article class="cdata mt-8">
        <h2>近期文章</h2>
        <div class="section-inner flex-grow min-w-0 mt-9 max-w-2xl cdata">
          {{- partial "recent-pages" (dict "Site" $.Site "Page" . "limit" 3) -}}
        </div>
        <p><a href="/">回首頁</a></p>
      </article>
    </div>
  </div>
</div>
{{ end }}